* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
 
html {
    height: 100%;
}

.box-wrap {
    border: 1px solid rgb(154, 153, 153);
    width: 100px;
    height: 15px;
    position: relative;
    border-radius: 3px;

}

#box {
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    font-size: 11px;
}

header {
    margin: 0.3rem;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: auto
}

header ul {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    list-style: none;
    position: relative;
    overflow: hidden;
}

header h2 {
    width: 140px;
    max-width: 150px;
    display: flex;
    align-items: center;
}

#expand {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 0.7rem;
}

#expand:hover {
    transform: scale(1.1);
}

header ul li a {
    font-weight: normal;
    text-decoration: none;
    color: black;
    transition: color 0.1s ease;
}

header ul li:not(:nth-child(4)) a:hover {
    color: rgb(148, 148, 148);
}


.moveWrap {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0.5rem 0;
}

.currentShoes {
    font-size: 9px;
    display: inline-block;
    padding-left: 100%;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.top-header-contenr {
    font-size: 11px;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.top-header-contenr ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

#btn {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}

#btn:hover {
    background-color: rgb(207, 207, 207);
}

.main-content {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.main-content aside {
    width: 27%;
    border: 1px solid rgb(246, 246, 246);
    border-radius: 5px;
    margin: 0.2rem;
    min-height: 0;
    overflow-y: auto;
    transition: display 0.2s ease;
}

.coll aside {
    display: none;

}



aside.exp {
    width: 0;
}

.main-content main {
    border: 1px solid rgb(249, 249, 249);
    border-radius: 5px;
    margin: 0.2rem;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    position: relative;
}

#message {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: rgb(96, 96, 96);
    font-size: 20px;
    display: none;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(210, 210, 210);
    gap: 0.3rem;
    font-size: 12px;
    width: fit-content;
    margin: auto;
    padding: 0.2rem;
    border-radius: 2px;
}

#reset:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.main-content ul {
    list-style: none;
}

.shoe img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    object-fit: fill;
    transition: all 0.3s ease;
}

body.smallExpand .shoe img {
    width: 150px;
    height: 150px;
}

.shoes-grid img:hover {
    transform: scale(1.02) translateY(-5px);
    background: linear-gradient(to top, rgb(227, 227, 227), rgb(228, 228, 228), white);
}

.shoes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    margin: 0.7rem;

}

.shoe button {
    min-width: 70px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.2rem;
    color: rgb(72, 72, 72);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.shoe button i {
    font-size: 10px;
}

.shoe button::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    background-color: rgb(188, 188, 188);
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s ease;
}

.shoe button:hover::after {
    width: 100%;
}

.shoe p {
    font-size: 12px;
}

.shoe p:nth-child(5) {
    color: rgb(119, 119, 119);
}

.price {
    color: rgb(96, 96, 96);
}

.shoe {

    padding: 0.3rem;
    box-shadow: 5px 5px 5px rgb(247, 247, 247);
}

.color {
    color: rgb(96, 96, 96);
}


/* Aside content ----------------------------*/

#filter {
    text-align: center;
    font-size: 12px;
    color: rgb(76, 76, 76);
    padding: 0.5rem;
}

#filter i {
    font-size: 9px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
}

#filter i:hover {
    background-color: rgb(211, 211, 211);
}

.brand-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    margin: 0.4rem;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(208, 208, 208);
    border-radius: 3px;
    font-size: 13px;
    transition: all 0.1s ease;
}

.brand-dropdown:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.brand-selection ul li {
    border: 1px solid rgb(152, 152, 152);
    padding: 0.2rem;
    margin: 0.4rem;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
}

.brand-selection ul li:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.brand-selection li.bg {
    background-color: rgb(183, 183, 183);
    border: 1px solid transparent;
}


hr {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid rgb(203, 203, 203);
}

.color-selection li {
    position: relative;
    overflow: hidden;
}

.color-selection li::after {
    position: absolute;
    left: 87%;
    content: '';
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 3px;
}

li[data-color='all']::after {
    background-color: transparent
}

li[data-color='white']::after {
    background-color: rgb(225, 225, 225);
}

li[data-color='black']::after {
    background-color: black;
}

li[data-color='pink']::after {
    background-color: pink;
}

li[data-color='light pink']::after {
    background-color: rgb(255, 232, 236);
}

li[data-color='green']::after {
    background-color: rgb(113, 136, 113);
}

li[data-color='blue']::after {
    background-color: rgb(53, 53, 185);
}

li[data-color='grey']::after {
    background-color: grey;
}

/* Media Section ---------------------------*/

@media(min-width: 600px) {
    .shoes-grid img {
        width: 220px;
        height: 220px;
        transition: all 0.2s ease;
        padding: 0.2rem;
    }

    body.expanded .shoes-grid img {
        width: 265px;
        height: 265px;
    }
}

@media(min-width: 730px) {
    .box-wrap {
  
  width:120px;
  height:18px;
    }
    #box{
        font-size: 15px;
    }
    .shoes-grid img {
        width: 260px;
        height: 260px;
        transition: all 0.2s ease;
        padding: 0.2rem;
    }

    body.expanded .shoes-grid img {
        width: 275px;
        height: 275px;
    }
}

@media(min-width: 810px) {
    .box-wrap {
        width: 150px;
        height: 20px;
    }

    #box {
        font-size: 15px;
    }

    body.expanded .shoes-grid img {
        width: 275px;
        height: 275px;
    }

    .color-selection li::after {
        left: 90%;
    }

    #reset {
        font-size: 15px;
    }
}

@media(min-width: 1024px) {
    .box-wrap {

        width: 150px;
        height: 20px;
    }

    #box {
        font-size: 15px;
    }

    .currentShoes {
        font-size: 17px;
    }

    header ul {
        gap: 1rem;
    }

    header {
        padding: 0.5rem;
        font-size: 21px;
    }

    .top-header-contenr {
        font-size: 15px;
        padding: 0.5rem;
    }

    .top-header-contenr ul li:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .main-content aside {
        width: 18%;
    }

    .main-content main {
        width: 82%;
    }

    aside.exp {
        width: 0;
    }

    .shoes-grid {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 1.7rem;
        margin: 1rem;
    }

    .shoes-grid img {
        width: 310px;
        height: 310px;
        transition: all 0.2s ease;
        padding: 0.2rem;
    }

    .shoe button {
        width: 100px;
        height: 23px;
        background-color: rgb(210, 210, 210);
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 0.2rem;
    }

    .brand-dropdown {
        font-size: 17px;
    }

    .brand-selection ul li {
        font-size: 16px;
    }

    .brand-selection ul li p {
        width: 17px;
        height: 17px;
    }

    .shoe p {
        font-size: 18px;
    }

    .shoe button i {
        font-size: 15px;
    }

    #filter {
        font-size: 17px;
    }

    #expand {
        font-size: 15px;
        width: 35px;
        height: 35px;
    }

    body.expanded .shoes-grid img {
        width: 370px;
        height: 370px;
    }

    #message {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        color: rgb(96, 96, 96);
        font-size: 25px;
    }

    .color-selection li::after {
        left: 90%;
        width: 16px;
        height: 16px;
    }

    #reset {
        font-size: 15px;
    }
}